body {
    background-image: url('https://i.etsystatic.com/19543171/r/il/c81a8d/2109021831/il_570xN.2109021831_m09g.jpg');
    background-repeat:repeat;
    }

    footer {
        font-weight:bold;
    }

    p {
        font-family:impact;
        text-align:center;
    }

    .card {
        margin: 0 auto;
    }

    h1 {
        text-align:center;
        text-decoration:underline;
        font-family:impact;
    }